@page
@model testprojekt.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещён";
}

<div class="container">
    <h2>Доступ запрещён</h2>
    <p>Пользователь не авторизирован для доступа к данной странице.</p>
</div>
