@page
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2>Добро пожаловать на сайт аренды рабочих пространств Booking Shmooking!</h2>
    <p>Для пользования нашим сайтом просим вас пройти регистрацию, мы всегда рады новым клиентам, у нас вы можете арендовать любое удобное рабочее пространство под ваши нужды!</p>
</div>
